body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
ul { 
    list-style: none; padding-left: 5px; 
}

a { 
    color:#da3878; text-decoration: none;
}

.bar {
    background-color: #ffeef6;
    padding:15px;
    border-top: solid 1px #da3878;
    border-bottom: solid 1px #da3878;
}

.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
    
}

h1 {
    margin-bottom: 5px;
}

.subtitulo-conteudo {
    color: #e07ea5;
}

figcaption {
    font-size: small;
}

.cute-cute {
    color: #ed88b0;
    font-size: small;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 25px;
}

p {
    text-align: justify;
}

strong {
    color: #eb98b9;
}

ul li {
    padding-bottom: 5px;
}

.footer {
    min-height: 50px;
    border-top: solid 1px #da3878;
    text-align: center;
    display: flex;
    align-items: center; /* Centraliza os itens filhos verticalmente */
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
}
.anchors {
    border-left: solid 1px #da3878;
    padding-left: 15px;
    
}
.sidebar {
    border-right: solid 1px #da3878;
}
figure {
    text-align: center;
}


