<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display</title>
    <style>
        code {
            background-color: #ffe8eb;
            color: #d7517d;
        }

        .padrao-block {
            border: 2px solid #d7517d;
        }

        .padrao-inline {
            border: 2px solid #d7517d;
        }
    </style>
</head>
<body>
    <header>
        <h1>1 - Display</h1>
        <p>
            O <code>display</code> é uma propriedade importante do CSS para controlar o layout. Determina se um elemento HTML é tratado como um <u>bloco</u> ou um <u>elemento em linha</u>.
        </p>
    </header>
    <main>
        <h2>Block</h2>
        <p>Exemplo de elementos com o valor padrâo <code>display: block;</code>.</p>
        <div class="padrao-block">Hello Kitty com seu laço vermelho a brilhar,</div>
        <p class="padrao-block">Espalha alegria onde quer que vá chegar.</p>

        <h2>Inline</h2>
        <p>Exemplo de elementos com o valor padrâo <code>display: inline;</code>.</p>
        <p>
            Com <span class="padrao-inline">sorriso doce</span>, coração de algodão,
            Ensina ao mundo a <a href="" class="padrao-inline">força</a> da união.
        </p>
    </main>
    

</body>
</html>