

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #7B5CFA;
    --secondary-color: #C5A3FF;
    --font-color: #2E2E2E;
    --background-color: #FFF7F0;
}

ul, li { /* tirando a decoração da lista */
    list-style: none;
    margin: 0;
    padding: 0;
}

.emphasis {
    color: var(--primary-color);
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;

    button {
        border: 1px solid transparent;
        border-radius: 0.5rem;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 500;
        padding: 0.75rem;
        transition: var(--background-color) 0.3s ease;

        &.primary {
            background-color: var(--primary-color);
            color: #fff;
        }

        &.outline {
            background-color: transparent;
            border: 1px solid var(--primary-color);
            color: var(--primary-color);
        }

        &:hover {
            background-color: darken(var(--primary-color), 60%);
            border-color: #24262F;
        }
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        nav {
            font-size: 1.125rem;
            flex: 1;

            ul {
                display: flex;
                gap: 1.25rem;
                justify-content: center;
                cursor: pointer; /* aparencia de clicavel */

                li {
                    font-weight: 500;

                    &:hover { /* muda de cor a fonte quando passa o ponteiro em cima */
                        color: var(--primary-color);
                    }
                }
            }
        }
    }

    #hero {
        display: flex;
        grid-template-columns: repeat(2, lfr);
        align-items: flex-start;
        justify-items: flex-end;
        margin: 100px 220px 100px 220px;

        
        article {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
            gap: 2rem;


            >p {
                font-size: 1.5rem;
                line-height: 1.8rem;
            }

            .title {
                color: var(--secondary-color);
                font-size: 4rem;
                font-weight: bolder;
                line-height: 2rem;
            }
        }

        .avatar {
            align-items: center;
            border: 1px solid var(--primary-color);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            width: 340px;
            height: 340px;

            img {
                width: 80%;
                aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }
}