@import url(reset.css);

:root {
    --primary-color: ;
    --secondary-color: ;
    --font-color: #2E2E2E;
    --backgroun-color: 
}

body {
    font-size: 16px;
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 55px 5fr 1fr;
    grid-template-areas: 
        "header header"
        "nav main"
        "nav footer";

    header {
        background: white;
        grid-area: header;
        display: grid;
        grid-template-columns: 150px 2fr 150px;
        place-items: center center;
        margin: 5px;

        #header-left {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            place-items: center center;
        }

        #header-right {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            place-items: center center;
            gap: 15px;

            #profile {
                width: 30px;
                border-radius: 50%;
            }
        }
    }

    nav {
        background: white;
        grid-area: nav;
        
        #navegador {
            display: grid;
            grid-template-rows: repeat(7, 1fr);
            justify-items: start;
            padding: 0.938rem;
            font-size: 0.813rem;

            li {
                padding: 10px;
            }

            .items {
                display: grid;
                grid-template-columns: 23px 1fr;
                place-content: start center;
                place-items: center center;
                gap: 0 12px;
                img {
                    width: 23px;
                }
            }
        }
    }

    main {
        background: rgb(245, 245, 245);
        grid-area: main;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        padding: 25px;
        padding-left: 40px;
        padding-right: 40px;
        gap: 25px 20px;
        place-items: center center;

        .video {
            display: grid;
            width: 269px;
            

            .thumbnail {
                img {
                    width: 269px;
                    border-radius: 10px;
                    
                }
            }

            .description {
                display: grid;
                font-size: 0.781rem;
                padding-top: 10px;
                gap: 10px 0px;
                
                
                .video-title {
                    font-weight: bold;
                    line-height: 125%;
                }

                .video-description {
                    color: rgb(74, 74, 74);
                }
            }
        }
    }

    footer {
        grid-area: footer;
    }
}

