

code {
    background-color: #ffe8eb;
    color: #d7517d;
    font-family: monospace;
}

h1 {
    text-shadow: 0px 0px 5px rgb(125, 125, 125);
}

h2 {
    margin-top: 80px;
    color: #d7517d;
    text-shadow: 0px 0px 5px #f99fbd;
}

h3 {
    margin-top: 30px;
    color: #f99fbd;
    text-shadow: 0px 0px 6px #f99fbd;
    margin-bottom: 5px;
}